.alignWrapper {
    background-color: #e0dbd1;
    min-height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #db5b11;
    padding: 3%;
}

.format {
    max-width: 40vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0%;
    font-size: calc(10px + 5vmin);
    font-weight: bolder;
    color: #493c31;
    font-family: Cormorant Garamond;
}

.text {
    margin: 0%;
    margin-bottom: 2vh;
    font-size: calc(10px + 1vmin);
    font-weight: 600;
    overflow: hidden;
    color: #6e2d07;
}

.img {
    margin: auto 0 auto 5%;
    max-height: 25vh;
    max-width: 50%;
}

.textAlignRight {
    text-align: end;
}

.imageAlignRight {
    margin: auto 5% auto 0;
}

.bgRight {
    background-color: #d8d2c5;
}
